@import '../../abstracts/abstracts';

.site-header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.site-branding_header {
  margin: 1rem;
}

.site-branding {
  img {
    width: auto;
    height: 60px;
  }
}

.site-title {
  display: none;
}

.desktop-secondary_menu {
  display: none;
}

@media (min-width: $screen-size-l) {
  .site-branding_header {
    margin: 2.4rem 5rem 0;
    background-color: #cdcdcd;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .desktop-secondary_menu {
    display: flex;
    align-items: center;
    position: relative;
    right: 60px;

    .search-form {
      height: 35px;
      display: flex;
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      transition: all 0.15s ease-out;

      &.opened {
        border-color: rgba(255, 255, 255, 1);

        .search-field {
          max-width: 300px;
          opacity: 1;
        }
      }
    }

    .search-icon {
      padding: 0.25rem;
      height: 32px;
    }

    .search-field {
      opacity: 0.1;
      max-width: 0;
      transition: all 0.15s ease-out;
      width: 300px;
    }

    #social-menu {
      margin: 0 0.75rem 0 0;
      padding: 0;

      a {
        font-size: 1.5rem;
        margin-left: 0.75rem;
        color: #000000;
        &:hover {
          color: #000000;
        }
      }
    }
  }
}
