@import '../../abstracts/abstracts';

.menu-toggle {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 1.5rem;
}

.menu-content {
  position: relative;
  top: 1.6rem;

  img {
    height: 60px;
    width: auto;
  }
}

.menu_content-container {
  margin: 0 0.25rem;
}

.fullscreen-menu {
  transform: translateY(-100vh);
  transition: all 400ms ease-in;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  z-index: 90;

  &.toggled {
    transform: translateY(0vh);
    display: block;
  }
}

.main-navigation {
  ul,
  li {
    list-style: none;
  }

  li {
  }

  .menu {
    margin: 0;
    padding: 0;
  }

  .menu > li > a {
    padding: 0.5rem 1rem 0.5rem $left-spacer;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: $font__header;
    display: block;
    border-bottom: 1px solid #ffffff;
  }

  .sub-menu {
    margin: 0;
    padding: 0;
    background-color: lightpink;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0.5rem 0;
    border-bottom: 1px solid #ffffff;
  }

  .search-icon {
    margin-right: 1.4rem;
  }

  .level-0,
  .level-1 {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;

    &.open {
      max-height: 500px;
      transition: max-height 0.25s ease-in;
    }
  }

  .menu-extra_content-inner {
    background-color: lightpink;
  }

  .custom-logo-link {
    margin-left: $left-spacer;
  }
}
